
<h1>All Employees</h1>

<%= link_to 'New Employee', new_employee_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee_path(employee),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>