<h1>All Employees</h1>

<a href="<%= new_employee_path %>">
  <button class="btn">New Employee</button>
</a>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.first_name %></td>
      <td><%= employee.last_name %></td>
      <td><a href="<%= employee_path(employee) %>">
        <button class="btn" href="">Show</button>
      </a></td>
      <td>
        <a href="<%= edit_employee_path(employee) %>">
          <button class="btn">Edit</button>
        </a>
      </td>
      <td><%= link_to '<button class="btn">Destroy</button>'.html_safe, employee_path(employee),
                      method: :delete,
                      data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>